.order-confirmation {
  padding: 40px;
  background-color: #f4f4f4;
  text-align: center;
}

h1 {
  font-size: 36px;
  color: #333;
  margin-bottom: 20px;
}

h2 {
  font-size: 28px;
  color: #666;
}

p {
  font-size: 18px;
  color: #888;
}

strong {
  font-size: 20px;
  color: #000;
}
